#grid {
    display: grid;
    grid-template-columns: 180px 1fr;
}

#grid ol {
    padding-left: 30px;
    border-right: 1px solid gray;
    margin-top: 0;
    padding-top: 15px;
    margin-bottom: 0px
}

h1 {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: center;
}


mark a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(0, 102, 0);
}

.padding {
    padding-left: 20px;
}

a:active {
    color: rgb(204, 0, 0);
}

h1 a,
ol a {
    text-decoration: underline;
}

body {
    margin: 0;
}

img {
    height: 130px;
}

.source_code {
    margin-bottom: 30px;
    height: 550px
}

@media(max-width:1160PX) {
    #grid {
        display: block;
    }

    h1 {
        border-bottom: none;
        text-align: left
    }

    #grid ol {
        border-right: none;
    }
}
